/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  padding: 5px;
  hyphens: auto;
}

h2 {
  border-bottom: 1px;
  border-bottom-color: black;
  border-bottom-style: solid;
}

.gloria-hallelujah-regular {
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: 400;
  font-style: normal;
}

.indie-flower-regular {
  font-family: 'Indie Flower', cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

#root,
#__next {
  isolation: isolate;
}

.container {
  font-size: 20px;
  padding: 20px;
  margin-top: 50px;
}

.wrapper {
  display: flex;
  justify-content: center;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  height: 80vh;
}

.left-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 30px;
  overflow-y: auto;
}

.right-wrapper {
  flex: 2.2;
  padding: 33px;
  overflow-y: auto;
}

/* 웹킷 기반 브라우저 (Chrome, Safari 등) */
.left-wrapper::-webkit-scrollbar,
.right-wrapper::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.65);
}

.title {
  background-color: white;
  text-align: left;
  border-radius: 10px;
  border-width: 1px;
  margin: 5px;
  transition: color 0.15s ease;
}

.title:hover:not(.selected) {
  color: #808080;
  border-color: #808080;
}

.cursor-pointer {
  cursor: pointer;
}

.middle-line {
  width: 0.125rem;
  background-color: gray;
}

.selected {
  background-color: #e0e0e0;
  font-weight: bold;
  color: #333;
  border-width: 1.5px;
}

.font-bold {
  font-weight: bold;
}
