/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

.container {
  border-color: red;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  font-size: 30px;
  justify-content: center;
  display: flex;
}

.left-wrapper {
  flex: 1;
}

.right-wrapper {
  flex: 1;
}

.title {
}

.cursor-pointer {
  cursor: pointer;
}

.middle-line {
  width: 0.125rem;
  background-color: gray;
}
